<div class="container">
  <h3 class = "text-center">You searched for:</h3>
  <div class="list-group">
    {{#places}}
    <a href = "#"><div class="row list-group-item">
      <div class="col-xs-3 col-sm-3">
        <img class="img-circle img-responsive" src = "{{img_url}}"/>
      </div>

      <div class="col-xs-6">
        <h3>{{name}}</h3>
        <p><i class="icon-question-sign icon-2x"></i>{{catName}}</p>
          <p><i class="icon-info icon-2x"></i>{{description}}</p>
          <p><i class="icon-phone-sign icon-2x"></i>{{tel}}</p>
          <p><i class="icon-envelope icon-2x"></i>{{email}}</p>
      </div>
      <div class="col-xs-3">
        <h1 class = "distance">{{distance}} m</h1>
        <h2  class = "distance">away</h2>
      </div>
    </div></a>
    {{/places}}
  </div>

</div>
